.item
    padding: 50px 20px

    &__heading
        margin: 0 auto
        max-width: 1000px

    &__title
        @import url('https://fonts.googleapis.com/css?family=Playfair+Display')

        margin: 0
        font-family: 'Playfair Display', serif
        font-size: 38px
        font-weight: normal
        text-align: center

    &__container
        display: flex
        margin: 0 auto
        padding: 55px 20px
        width: 1000px

    &__left-side
        flex-shrink: 0
        margin-right: 30px
        width: 600px

    &__right-side
        color: #111
        font-size: 15px
        line-height: 1.4

    &__img
        width: 100%

        &:not(:last-of-type)
            margin-bottom: 20px