.label
    display: flex
    align-items: center
    flex-wrap: wrap
    font-size: 15px
    font-weight: 500

    &_np
        &::after
            content: ''
            margin-left: 5px
            width: 13px
            height: 13px
            background-image: url("/img/checkout/nova-poshta-mini-logo.png")
            background-size: contain

    &__description
        width: 100%
        color: #a9a9a9
        font-size: 14px
        font-weight: normal
